@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
}
@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 500;
     src: url('../fonts/roboto-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/roboto-v20-latin-500.woff') format('woff'), /* Modern Browsers */
}
@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 700;
     src: url('../fonts/roboto-v20-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/roboto-v20-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
}

/* Variables */
:root {
     --basic-black: #000000;
     --basic-dark-gray: #283136;
     --basic-gray: #444444;
     --basic-light-gray: #666666;
     --basic-soft-gray: #A7A7A7;
     --basic-silver-gray : #A6A6A6;
     --basic-silver: #B4B9BB;
     --basic-mono-gray: #DFDFDF;
     --basic-abdel-gray: #D5D5D5;
     --basic-alto-gray: #DBDBDB;
     --basic-pale-gray: #ABABAB;
     --basic-extra-gray: #959595;
     --basic-gray-white:#4D4D4D;
     --basic-dark-white: #EEEEEE;
     --basic-light-white: #E1E1E1;
     --basic-extra-white: #E9E9E9;
     --basic-white: #FFFFFF;
     --basic-soft-white: #F1F1F1;
     --basic-pink: #FB565A;
     --basic-light-red: #E37376;
     --basic-red: #FB565A;
     --basic-soft-red: #E74246;
     --basic-dark-red: #D7373B;
     --basic-light-green: #17B270;
     --basic-soft-green: #00BC6C;
     --basic-green: #00CA74;
     --basic-dark-green: #00AA62;
     --basic-light-yellow: #E7AF36;
     --basic-yellow: #EFC849;
     --basic-soft-yellow: #EAB534;
     --basic-dark-yellow: #E5A722;
     --basic-pule-blue: #D7DCDE;
}

/* Global */
body {
     min-width: 1197px;
     margin: 0;
     padding: 0;
     font-family: "Roboto", sans-serif;
     font-size: 16px;
     line-height: 24px;
     font-weight: 400;
     color: var(--basic-black);
     background-color: var(--basic-white);
}

a {
     text-decoration: none;
}

img {
     max-width: 100%;
     height: auto;
}

.page {
     height: 100% ;
}

.container {
     margin: 0 auto;
     padding: 0;
     max-width: 1160px;
}


.visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     clip: rect(0 0 0 0);
     overflow: hidden;
}
.page-body {
     min-height: 100%;
     display: grid;
     grid-template-rows: min-content 1fr min-content;
     align-content: center;
     margin: 0 auto;
     padding: 0;
     min-height: 100px;
     position: relative;
}

.main-header {
     margin: 0;
     min-width: 1200px;
     padding: 48px 0 0;
     background-color: var(--basic-dark-white);
     font-weight: 500;
}

.maim-navigation {
     display: flex;
}

.main-header-logo {
     width: 160px;
     height: 65px;
}

.main-header-logo:focus{
     opacity: 0.2;
}

.basket-navigation-link {
     color: var(--basic-black);
     display: block;
     width: 160px;
     text-align: right;
}

.basket-navigation-icon {
     margin-right: 25px;
}

.site-navigation-wrapper {
     display: flex;
     align-items: center;
     margin: 0px 0px 0px 202px;
}

.maim-navigation {
     text-transform: uppercase;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.site-navigation {
     margin: 0;
     padding: 0;
     min-height: 31px;
     list-style: none;
     display: flex;
     align-items: center;
}

.nav-item-logo {
     margin-right: 203px;
}

.nav-item {
     margin-right: 44px;
     padding-top: 10px;
}

.nav-item-link, .basket-navigation-link{
     font-size: 16px;
     line-height: 30px;
     color: var( --basic-black);
     font-weight: 500;
     padding-top: 10px;
}

.nav-item-link:hover, .basket-navigation-link:hover,
.nav-item-link:focus, .basket-navigation-link:focus {
     color: var(--basic-red)
}

.nav-item-link:active, .basket-navigation-link:active {
     color: var(--basic-soft-gray);  
}

.site-navigation,
.category-list,
.description-list,
.list-of-partners,
.footer-contacts,
.filter-sort,
.categories-list,
.filter-item{
     list-style: none;
}


.menu-current{
     border-bottom: 2px var(--basic-red) solid;
     cursor: context-menu;
     padding-bottom: 21px;
}

.nav-item a:not([href]):hover, 
.nav-item a:not([href]):focus, 
.nav-item a:not([href]):active {
     color: var(--basic-black);
}

/* Features */

.slide{
     display: none;
     padding: 70px 0 80px;
}

.slider {
     position: relative;
     background-color: var(--basic-dark-white);
}

.slides {
     min-height: 100px;
     position: relative;
}

.slider-controls {
     position: absolute;
     left: 50%;
     bottom: 102px;
     z-index: 5;
     width: 160px;
     height: 18px;
     text-align: center;
     font-size: 0;
     -webkit-transform: translateX(-50%);
     -ms-transform: translateX(-50%);
     transform: translateX(-50%);
 }

 .slider-controls label{
     position: relative;
     display: inline-block;
     width: 18px;
     height: 18px;
     padding: 8px;
     border-radius: 50%;
     cursor: pointer;
 }
.slider-controls label::after {
  content: "";
    width: 18px;
    height: 18px;
    background: var(--basic-white);
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;
    border-radius: 50%   
}

#slide-1:checked~.slider-controls .slider-controls-slide-1::before, 
#slide-2:checked~.slider-controls .slider-controls-slide-2::before, 
#slide-3:checked~.slider-controls .slider-controls-slide-3::before {
     content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 4px;
    height: 4px;
    margin: -4px;
    background-color: inherit;
    border: 2px solid #C1C1C1;
    border-radius: 50%;
 }

#slide-1:checked~.slides .slide:nth-child(1), #slide-2:checked~.slides .slide:nth-child(2), #slide-3:checked~.slides .slide:nth-child(3) {
     display: block;
}

#slide-1:checked~.slides .slide:nth-child(1) {
     background-image: url(../img/nerds-index-slide1.png);
     background-repeat: no-repeat;
     background-position: 99% -6px;
}

#slide-2:checked~.slides .slide:nth-child(2) {
     background-image: url(../img/nerds-index-slide2.png);
     background-repeat: no-repeat;
     background-position: 99% -6px;
}

#slide-3:checked~.slides .slide:nth-child(3){
     background-image: url(../img/nerds-index-slide3.png);
     background-repeat: no-repeat;
     background-position: 99% -6px;
}

.slogan {
     font-size: 55px;
     font-weight: 500;
     line-height: 55px;
     margin: 2px 0px 26px 0px;
     width: 523px;
}

.slogan-description {
     width: 416px;
}

/* Buttom */

.button {
     color: var(--basic-white);
     text-transform: uppercase;
     font-weight: 500;
     background: var(--basic-red);
     border-radius: 3px;
     padding: 13px 54px;
     display: inline-flex;
     margin-top: 23px;
}

.button:hover,
.button-slider-red:hover,
.feedback-button:hover, 
.button-feedback:hover,
.button:focus,
.button-slider-red:focus,
.feedback-button:focus, 
.button-feedback:focus{
     background-color: var(--basic-soft-red);
}

.button:active,
.button-slider-red:active,
.feedback-button:active, 
.button-feedback:active {
     background-color: var(--basic-dark-red);
     color: var(--basic-light-red);
     outline: none;
}

.button-slider-red{
     color: var(--basic-white);
     text-transform: uppercase;
     font-weight:500;
     background: var(--basic-red);
     border-radius: 3px;
     padding: 14px 40px;
     margin-top: 13px;
     display: inline-flex;
}

.button-slider-green{
     color: var(--basic-white);
     text-transform: uppercase;
     font-weight: 500;
     background: var(--basic-green);
     border-radius: 3px;
     padding: 14px 40px;
     margin-top: 13px;
     display: inline-flex;
}

.button-slider-green:hover,
.button-slider-green:focus {
     background-color: var(--basic-soft-green);
}

.button-slider-green:active {
     background-color: var(--basic-dark-green);
     color: var(--basic-light-green);
}

.button-slider-yellow{
     color: var(--basic-white);
     text-transform: uppercase;
     font-weight: 500;
     background: var(--basic-yellow);
     border-radius: 3px;
     padding: 14px 40px;
     margin-top: 13px;
     display: inline-flex;
}

.button-slider-yellow:hover, .button-slider-yellow:focus {
     background-color: var(--basic-soft-yellow);
}

.button-slider-yellow:active {
     background-color: var(--basic-dark-yellow);
     color: var(--basic-light-yellow);
}

.feedback-button {
     color: var(--basic-white);
     text-transform: uppercase;
     font-weight: 500;
     background: var(--basic-red);
     border-radius: 3px;
     padding: 16px 83px;
     display: inline-flex;
     border-width: 0px;
}

/* Сategories */

.categories-slogan{
     font-weight: bold;
     font-size: 24px;
     text-transform: uppercase;
     line-height: 30px;
     margin-bottom: 15px;
}

.categories-slogan-item {
     font-size: 16px;
     line-height: 24px;
     color: var(--basic-dark-gray);
     width: 260px;
}

.categories {
     margin-bottom: 39px;
     border-bottom: 2px solid #EEEEEE;
}

.categories-list {
     display: grid;
     grid-template-columns: 300px 300px 300px;
     gap: 100px;
     margin: 0;
     padding: 80px 0px 80px 0px;
}

/* Description */

.description {
     text-align: center;
     padding: 0;
     display: flex;
     justify-content: space-between;
     padding-bottom: 51px;
     border-bottom: 2px solid #EEEEEE
}

.description-statistics-item {
     font-size: 16px;
     line-height: 24px;
     font-weight: bold;
     text-transform: uppercase;
}

.description-general {
     text-align: initial;
     width: 660px;
}

.description-statistics {
     text-align: center;
     width: 360px;
}

.description-list {
     padding: 0px 0px 0px 38px;
     position: relative;
}

.description-header {
     font-size: 45px;
     font-weight: 500;
     line-height: 45px;
     margin: 36px 0px 33px 0px;
}

.description-item {
     font-weight: bold;
     font-size: 16px;
     line-height: 24px;
     text-transform: uppercase;
     margin-top: 43px;
}

.description-item-list {
     margin: 23px 0;
     position: relative;
}

.description-statistics-img{
     margin-bottom: 35px;
}
     
.description-list-marker{
     color: var(--basic-red);
     font-size: 25px;
     margin: 0 7px 0 0;
}

.description-item-list::before {
     content: "";
     width: 25px;
     height: 2px;
     background-color: var(--basic-pink);
     position: absolute;
     left: -34px;
     top: 12px;
}

.table-statistics {
     display: flex;
     flex-direction: column-reverse;
     margin-top: 26px;
}

.table-statistics-header {
     color: var(--basic-dark-gray);
     line-height: 18px;
     padding: 6px 9px 0px 10px;
     text-align: left;
     font-size: 16px;
     font-weight: normal;

}

.table-statistics-numbers {
     color: var(--basic-black);
     font-size: 45px;
     font-weight: bold;
     line-height: 64px;
}

.table-statistics-numbers-center{
     padding: 1px 17px;
}

.table-statistics-numbers-percent {
     font-weight: bold;
     font-size: 26px;
     line-height: 40px;
     vertical-align: top;
}

/* Partners */

.partners-item {
     border-bottom: 2px solid #EEEEEE;
     margin-bottom: 78px;
}

.list-of-partners{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     margin: 0;
     padding: 0;
     justify-items: center;
     align-items: center;
     min-height: 180px;
     position: relative;
}

.partner-link {
     display: block;
     opacity: .2;
}

.partner-link-academy {
     margin: 19px 27px 0 0;
}

.partner-link-borodinski {
     margin: 9px 10px 0 0;
}

.partner-link-pink {
     margin: 10px 0 0 16px;
}

.partner-link-mishka {
     margin: 12px 0 0 27px;
}

.partner-link:hover, .logo-partners:focus{
     opacity: 1;
}

.logo-partners:active{
     opacity: 0.1;
     outline: none;
}

.partner {
     position: relative;
}

.partner:nth-child(-n+3)::after {
     content: "";
     width: 2px;
     height: 52px;
     top: calc(50% - 24px);
     background-color: var(--basic-dark-white);
     position: absolute;
     left: 242px;
}

/*map */

.map {
     position: relative;
     width: 100%;
     height: 416px;
}

.map-iframe {
     background-image: url(../img/map.jpg);
     width: 100%;
     height: 416px;
     border: 0px;
}

.feedback-adress {
     position: absolute;
     width: 297px;
     padding: 32px 10px 46px;
     background-color: var(--basic-white);
}

.feedback-adress {
     top: 54px;
     left: 140px;
     text-align: center;
}

/* Footer */

.footer {
     display: grid;
     grid-template-columns: 270px 560px;
     gap: 130px;
     margin: 0;
     padding: 74px 0 49px 0;
}

.footer-contacts {
     display: flex;
     text-align: center;
     padding: 0;
     margin: 0;
}


.footer-feedback-header {
     font-size: 18px;
     line-height: 30px;
     font-weight: bold;
     text-transform: uppercase;
     padding-right: 26px;
}

.footer-feedback-description {
     line-height: 18px;
     color: var(--basic-light-gray);
     margin: 21px 0 0 36px;
     width: 203px;
}

.footer-feedback-description-tel {
     width: 210px;
}

.button-feedback {
     color: var(--basic-white);
     text-transform: uppercase;
     font-weight: 500;
     background: var(--basic-red);
     border-radius: 3px;
     padding: 13px 45px;
     display: inline-flex;
     margin-top: 18px;
}

.footer-header-stock {
     font-size: 36px;
     line-height: 36px;
     font-weight: bold;
     margin: 0px;
}

.footer-stock {
     line-height: 22px;
     color: var(--basic-gray);
     margin-top: 11px;
}

.footer-contacts-list {
     margin-right: 9px;
     background-color: var(--basic-light-white);
     width: 80px;
     height: 80px;
     border-radius: 50%;
     display: flex;
     justify-content: center;
}

.footer-contacts-list-icon {
     padding: 30px;
}

.footer-contacts-list:hover, .footer-contacts-list:focus{
     background-color: var(--basic-red);
}

.footer-contacts-list:active{
     background-color: var(--basic-dark-red);
}

.footer-contacts-list-icon:active svg {
     opacity: 0.3;
}

/* Catalog */

.catalog {
     margin-bottom: 57px;
}

.catalog-filter {
     width: 260px;
}

.page-catalog{
     display: grid;
     grid-template-columns: 260px 759px;
     gap: 140px;
     align-content: start;
     margin-top: 55px;
}

.catalog-list {
     display: grid;
     grid-template-columns: 360px 360px;
     gap: 23px 41px;
     padding: 0;
     margin: 0;
     list-style: none;
     margin-top: 48px;
}

.catalog-item {
     width: 220px;
     min-height: 285px;

     min-height: 285px;

     position: relative;
     width: 360px;
}

.catalog-header {
     font-size: 55px;
     line-height: 55px;
     font-weight: 500;
     background-color: var(--basic-dark-white);
     padding: 71px 19px 108px 0px;
     text-align: center;
     margin: 0;
}

.sort {
     display: flex;
     justify-content: space-between;
     margin-top: 2px;
}


.filter-sort {
     display: flex;
     padding: 0;
     margin: 0 0 0 236px;

}

.filter-sort-list{
     font-size: 14px;
     line-height: 18px;
     color: var(--basic-black);
     opacity: 0.3;
     text-transform: uppercase;
}

.filter-sort-list-active {
     opacity: 1;
}

.filter-sort-item {
     margin-right: 25px;
}

.filter-sort-list:hover, .filter-sort-list:focus  {
     color: var(--basic-black);
     opacity: 0.6;
}

.filter-sort-list:active {
     opacity: 1;
}

.filter-sort-item-order {
     display: flex;
     align-items: center;
}

.filter-sort-item-down {
     width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
     border-top: 10px solid var(--basic-black);
     margin-right: 20px;
}

.filter-sort-item-down:hover, .filter-sort-item-down:focus {
     opacity: 0.6;
}

.filter-sort-item-down:active {
     opacity: 1;
}



.filter-sort-item-up {
     width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
     border-bottom: 10px solid var(--basic-black);
     opacity: 0.2;
}

.filter-sort-item-up:hover, .filter-sort-item-up:focus {
     opacity: 0.6;
}

.filter-sort-item-up:active {
     opacity: 1;
}

/*filter*/

.filter-header {
     font-weight: bold;
     font-size: 18px;
     line-height: 30px;
     text-transform: uppercase;
}

.fieldset {
     padding: 0;
     margin: 0;
}

.fieldset:not(:first-child) {
     margin-top: 20px;
}

.filter-item-grid label,
.filter-item-features label {
     position: relative;
     cursor: pointer;
     user-select: none;
}

.filter-item {
     padding: 0 0 8px 0;
     margin: 0px;

}
.filter-item-features label {
     padding-left: 36px;
}

.filter-item-grid label {
     padding-left: 36px;
}

.filter-item-grid {
     padding-bottom: 16px;
}

.filter-adaptive {
     margin-top: 13px;
}

.filter-label {
     height: 25px;
     display: flex;
     align-items: center; 
}

.filter-label-features {
     margin-top: 15px;
}

.filter-input-checkbox + label::before {
     content: "";
     width: 19px;
     height: 19px;
     position: absolute;
     left: 0;
     top: 0;
     border: 2px solid #A6A6A6;
     border-radius: 3px;
}

.filter-input-checkbox + label:hover::before {
     border: 2px solid #4D4D4D;
}

.filter-input-checkbox:checked + label::before {
     background-image: url(../img/checkbox-on.svg);
     opacity: 0.4;
     background-repeat: no-repeat;
     width: 23px;
     height: 23px;
     border: none;
}

.filter-input-checkbox:checked + label:hover::before{
     background-image: url(../img/checkbox-on.svg);
     opacity: 1;
     background-repeat: no-repeat;
     width: 23px;
     height: 23px;
     border: none;
}

.filter-input-checkbox:focus+label::before{
     outline: 2px solid #4D4D4D;
}

.filter-input-radio + label::before {
     content: "";
     width: 17px;
     height: 17px;
     position: absolute;
     left: 1px;
     top: 0;
     border: 4px solid #A6A6A6;
     border-radius: 50%;
}

.filter-input-radio:checked + label::after {
     content: "";
     width: 9px;
     height: 9px;
     position: absolute;
     left: 8px;
     top: 7px;
     background-color: var(--basic-silver-gray);
     border: 1px solid #A6A6A6;
     border-radius: 50%;
}

.filter-input-radio + label:hover::before, 
.filter-input-radio + label:focus::before {
     border: 4px solid #4D4D4D;
}

.filter-input-radio + label:hover::after,
.filter-input-radio + label:focus::after {
     border: 1px solid #4D4D4D;
     background-color: var(--basic-gray-white);
}

.filter-input-radio:focus + label::before {
     outline: 2px solid #444444;
     border: 4px solid #4D4D4D;
}

.filter-input-radio:focus + label::after {
     border: 1px solid #4D4D4D;
     background-color: var(--basic-gray-white);
}

.filter-button{
     color: var(--basic-black);
     text-transform: uppercase;
     font-weight: 500;
     line-height: 18px;
     background: var(--basic-dark-white);
     border-radius: 3px;
     padding: 16px 88px;
     border-width: 0px;
     margin-top: 37px;
}

.filter-button:hover, .filter-button:focus {
     background-color: var(--basic-mono-gray);
}

.filter-button:active{
     background-color: var(--basic-abdel-gray);
     opacity: 0.3;
     outline: none;
     border: 0;
}
 
.range-filter {
     margin: 47px 0px 33px 0px;
}

.filter-item-grid,
.filter-item-features {
     font-size: 16px;
     line-height: 19px;
     color: var(--basic-dark-gray);
}


.range-controls {
     position: relative;
     height: 41px;
     margin-bottom: 15px;
     padding-top: 39px;
     padding-right: 20px;
     padding-left: 20px;
     background-color: var(--basic-soft-white);
     border-radius: 5px;
}
   
.range-controls .scale {
     height: 2px;
     background: var(--basic-pule-blue);
}
   
.range-controls .bar {
     width: 70%;
     height: 2px;
     background: var(--basic-green);
}
   
.range-controls .toggle {
     position: absolute;
     top: 31px;
     left: 0;
     width: 4px;
     height: 4px;
     padding: 0;
     border: 8px solid #FFFFFF;
     background-color: var(--basic-pale-gray);
     border-radius: 50%;
     box-shadow: 0 2px 1px 0 #cfcfcf;
     cursor: pointer;
}
   
.range-controls .toggle-min {
     left: 18px;
}
   
.range-controls .toggle-max {
     left: 160px;
}

   
.price-controls {
     display: flex;
     justify-content: space-between;
     margin-bottom: 11px;
}
   
.price-controls label {
     text-transform: uppercase;
     font-family: "Roboto", "Arial", sans-serif;
     font-size: 16px;
}
   
.price-controls input {
     width: 60px;
     padding: 10px;
     margin-left: 10px;
     text-align: center;
     color: var(--basic-dark-gray);
     border: none;
     border-radius: 5px;
     background: var(--basic-soft-white);
     font-family: inherit;
     font-size: inherit;
}

.card-header {
     font-size: 18px;
     line-height: 30px;
     font-weight: bold;
     text-align: center;
     text-transform: uppercase;
     color: var(--basic-black);
     margin: 28px 0 11px 0;
}

.card-header:hover, .card-header:focus {
     color: var(--basic-red);
}

.card-header:active {
     color: var(--basic-black);
     opacity: 0.3;
}

.card-description {
     position: absolute;
     width: 360px;
     height: 231px;
     color: var(--basic-light-gray);
     background-color: var(--basic-dark-white);
     text-align: center;
     top: 387px;
}

.card-description {
     display: none;
}

.catalog-item:hover path{
     fill: var(--basic-extra-white)
}

.catalog-item:hover .card-description,
.catalog-item:focus .card-description  {
     display: block;
}

.catalog-item-img {
     margin-top: -7px;
}

.card-description-details {
     font-size: 16px;
     line-height: 18px;
     color: var(--basic-light-gray);
     text-align: center;
     width: 255px;
     margin: 12px 0 49px 50px;
}

.card-price {
     color: var(--basic-white);
     text-transform: uppercase;
     font-weight: 500;
     background: var(--basic-red);
     border-radius: 3px;
     padding: 15px 74px;
     font-size: 16px;
     line-height: 18px;
}

.card-price:hover, .card-price:focus {
     background-color: var(--basic-soft-red);
}

.card-price:active {
     background-color: var(--basic-dark-red);
}

fieldset {
     border: 0 none;
}

/*Pagination*/

.pg-active {
     background-color: var(--basic-white);
     border: 3px solid var(--basic-alto-gray);
     box-sizing: border-box;
     border-radius: 3px;
     padding: 14px 18px;
     font-weight: 500;
     font-size: 16px;
     line-height: 18px;
     color: var(--basic-black);
}
.pagination-item{
     border-radius: 3px;
     padding: 16px 20px;
     font-weight: 500;
     font-size: 16px;
     line-height: 18px;
     background-color: var(--basic-dark-white);
     color: var(--basic-black);
}
.next {
     border-radius: 3px;
     padding: 16px 77px;
     font-weight: 500;
     font-size: 16px;
     line-height: 18px;
     background-color: var(--basic-dark-white);
     color: var(--basic-black);
     text-transform: uppercase;
}

.pagination {
     display: flex;
     margin-top: 49px;
}

.pg-active, .pagination-item {
     margin-right: 11px;
}

.pagination-item:hover, .next:hover, 
.pagination-item:focus, .next:focus {
     background-color: var(--basic-mono-gray);
}

.pagination-item:active, .next:active{
     background-color: var(--basic-abdel-gray);
     color: -var(--basic-extra-gray);
}

/*Modal*/

.container-form {
     width: 761px;
     height: 353px;
}

.form-item{
     display: flex;
     justify-content: space-between;
}

.feedback-header {
     font-size: 46px;
     line-height: 53px;
     font-weight: bold;
}

.feedback-ladel {
     font-weight: bold;
}

.feedback-input-name {
     width: 360px;
     height: 50px;
     border: 2px solid var(--basic-pule-blue);
     box-sizing: border-box;
     border-radius: 3px;
     font-size: 16px;
}

.feedback-input-email {
     width: 360px;
     height: 50px;
     border: 2px solid var(--basic-pule-blue);
     box-sizing: border-box;
     border-radius: 3px;
     font-size: 16px;
}

.feedback-input-text {
     border: 2px solid var(--basic-pule-blue);
     box-sizing: border-box;
     border-radius: 3px;
     font-size: 16px;
     height: 118px;
     width: 760px;
     resize: none;
}

.feedback-input-name:hover, 
.feedback-input-name:focus,
.feedback-input-email:hover,
.feedback-input-email:focus,
.feedback-input-text:hover,
.feedback-input-text:focus {
     border: 2px solid var(--basic-silver)
}

.feedback-input-name:active,
.feedback-input-text:active,
.feedback-input-email:active {
     border: 2px solid var(--basic-black)
}

.feedback-input-name::placeholder, 
.feedback-input-email::placeholder,
.feedback-input-text::placeholder{
     font-size: 16px;
     line-height: 18px;
     color: var(--basic-gray);
     opacity: 0.5;
}

.feedback-input-name:invalid,
.feedback-input-email:invalid{
     border:2px solid var(--basic-soft-red);
}
.feedback-input-name:invalid::placeholder,
.feedback-input-email:invalid::placeholder {
     color: var(--basic-soft-red);
     opacity: 1;
}

.modal {
     display: none;
     position: fixed;
     background-color: var(--basic-white);
}

.modal-feedback {
     display: none;
     width: 760px;
     padding: 65px 100px;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}

.modal-show {
     display: block;
     animation-name: bounce;
     animation-duration: 0.6s;
}

.modal-close {
     position: absolute;
     top: 78px;
     right: 90px;
     width: 22px;
     font-size: 0;
     border: 0;
     cursor: pointer;

}

.modal-close:hover::before, 
.modal-close:hover::after,
.modal-close:focus::before, 
.modal-close:focus::after{
     background-color: var(--basic-red);
     opacity: 1;
}

.modal-close:active::before, 
.modal-close:active:after {
     background-color: var(--basic-red);
     opacity: 0.1;
}

.modal-close::before {
     transform: rotate(45deg);
}

.modal-close::after {
     transform: rotate(-45deg)
}

.modal-close::after, 
.modal-close::before {
     content: "";
     position: absolute;
     width: 19px;
     height: 3px;
     top: 10px;
     left: 2px;
     background-color: var(--basic-pink);
     opacity: 0.3;
}

/*animation*/ 
@keyframes bounce {
     0% {
       top: -2000px;
     }
   
     70% {
          top: 55%;
     }
   
     90% {
          top: 45%;
     }
   
     100% {
          top: 50%;
     }
}

@keyframes shake {
     0%,
     100% {
          left: 51%;
     }
   
     10%,
     30%,
     50%,
     70%,
     90% {
          left: 49%;
     }
   
     20%,
     40%,
     60%,
     80% {
          left: 50%;
     }
}

.modal-error {
     animation: shake 0.6s;
}