@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
}
@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 500;
     src: url('../fonts/roboto-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/roboto-v20-latin-500.woff') format('woff'), /* Modern Browsers */
}
@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 700;
     src: url('../fonts/roboto-v20-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/roboto-v20-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
}

/* Variables */
:root {
     --basic-black: #000000;
     --basic-dark-gray: #283136;
     --basic-gray: #444444;
     --basic-light-gray: #666666;
     --basic-soft-gray: #A7A7A7;
     --basic-silver: #B4B9BB;
     --basic-mono-gray: #DFDFDF;
     --basic-abdel-gray: #D5D5D5;
     --basic-alto-gray: #DBDBDB;
     --basic-gray-white:#4D4D4D;
     --basic-dark-white: #EEEEEE;
     --basic-light-white: #E1E1E1;
     --basic-white: #FFFFFF;
     --basic-pink: #FB565A;
     --basic-light-red: #E37376;
     --basic-red: #FB565A;
     --basic-soft-red: #E74246;
     --basic-dark-red: #D7373B;
     --basic-light-green: #17B270;
     --basic-soft-green: #00BC6C;
     --basic-green: #00CA74;
     --basic-dark-green: #00AA62;
     --basic-light-yellow: #E7AF36;
     --basic-yellow: #EFC849;
     --basic-soft-yellow: #EAB534;
     --basic-dark-yellow: #E5A722;
     --basic-pule-blue: #D7DCDE;
}

::placeholder {
     color: var(--basic-gray);
     line-height: 18px;
     mix-blend-mode: normal;
     opacity: 0.5;
   }

:active, :hover, :focus {
     outline: 0;
     outline-offset: 0;
}

/* Global */
body {
     min-width: 1197px;
     margin: 0;
     padding: 0;
     font-family: "Roboto", sans-serif;
     font-size: 16px;
     line-height: 24px;
     font-weight: 400;
     color: var(--basic-black);
     background-color: var(--basic-white);
}

a {
     text-decoration: none;
}

img {
     max-width: 100%;
     height: auto;
}

.page {
     height: 100% ;
}

.container {
     margin: 0 auto;
     padding: 0;
     max-width: 1160px;
}


.visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     clip: rect(0 0 0 0);
     overflow: hidden;
}
.page-body {
     min-height: 100%;
     display: grid;
     grid-template-rows: min-content 1fr min-content;
     align-content: center;
     margin: 0 auto;
     padding: 0;
     min-height: 100px;
     position: relative;
}

.main-header {
     margin: 0;
     min-width: 1200px;
     padding: 50px 0 0;
     background-color: var(--basic-dark-white);
     font-weight: 500;
}

.maim-navigation {
     display: flex;
}

.main-header-logo {
     width: 160px;
     height: 65px;
}

.basket-navigation-link {
     color: var(--basic-black);
     display: block;
     width: 160px;
     text-align: right;
}

.basket-navigation-icon {
     margin-right: 25px;
}

.site-navigation-wrapper {
     display: flex;
     align-items: center;
     margin: 0px 0px 0px 202px;
}

.maim-navigation {
     background-color: var(--basic-dark-white);
     text-transform: uppercase;
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 114px;
}

.site-navigation {
     margin: 0;
     padding: 0;
     min-height: 31px;
     list-style: none;
     display: flex;
     align-items: center;
}

.nav-item-logo {
     margin-right: 184px;
}

.nav-item {
     margin-right: 44px;
}

.nav-item-link, .basket-navigation-link{
     font-size: 16px;
     line-height: 30px;
     color: var( --basic-black);
     font-weight: 500;
}

.nav-item-link:hover, .basket-navigation-link:hover {
     color: var(--basic-red)
}

.nav-item-link:focus, .basket-navigation-link:focus {
     color: var(--basic-soft-gray);
}

.site-navigation,
.category-list,
.description-list,
.list-of-partners,
.footer-contacts,
.filter-sort,
.categories-list,
.filter-item{
     list-style: none;
}


.menu-current{
     border-bottom: 2px var(--basic-red) solid;
     display:inline-block;
     cursor: context-menu;
}

.nav-item-link a:not([href]):hover {
     color: var(--basic-black);
}

/* Features */

.slide{
     display: none;
     padding: 42px 0 80px;
}

.slider {
     position: relative;
     background-color: var(--basic-dark-white);
}

.slides {
     margin: 0 auto;
     padding: 0;
     max-width: 1160px;
     min-height: 100px;
     position: relative;
     height: 431px;
}
.slider-controls {
     position: absolute;
     left: 50%;
     bottom: 104px;
     z-index: 100;
     width: 160px;
     height: 18px;
     text-align: center;
     font-size: 0;
     -webkit-transform: translateX(-50%);
     -ms-transform: translateX(-50%);
     transform: translateX(-50%);
 }

 .slider-controls label{
     position: relative;
     display: inline-block;
     width: 18px;
     height: 18px;
     padding: 8px;
     border-radius: 50%;
     cursor: pointer;
 }

 .slider-controls-slide-1::after {
     content: "";
    width: 18px;
    height: 18px;
    background: #fff;
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;
    border-radius: 50%;
 }

 .slider-controls-slide-1::before {
     content: "";
     position: absolute;
     left: 50%;
     top: 50%;
     z-index: 2;
     width: 4px;
     height: 4px;
     margin: -4px;
     background-color: inherit;
     border: 2px solid #c1c1c1;
     border-radius: 50%;
 }
 
 .slider-controls-slide-2::after {
     content: "";
     position: absolute;
     left: 50%;
     top: 50%;
     z-index: 2;
     width: 4px;
     height: 4px;
     margin: -4px;
     background-color: inherit;
     border: 2px solid #c1c1c1;
     border-radius: 50%;
 }

 .slider-controls-slide-2::before {
     content: "";
     width: 18px;
     height: 18px;
     background: #fff;
     position: absolute;
     top: 8px;
     left: 8px;
     z-index: 1;
     border-radius: 50%;
 }

 .slider-controls-slide-3::after {
     content: "";
     position: absolute;
     left: 50%;
     top: 50%;
     z-index: 2;
     width: 4px;
     height: 4px;
     margin: -4px;
     background-color: inherit;
     border: 2px solid #c1c1c1;
     border-radius: 50%;
 }

 .slider-controls-slide-3::before {
     content: "";
     width: 18px;
     height: 18px;
     background: #fff;
     position: absolute;
     top: 8px;
     left: 8px;
     z-index: 1;
     border-radius: 50%;
 }

#slide-1:checked~.slides .slider-controls-slide-1::before, #slide-2:checked~.slides .slider-controls-slide-2::before, #slide-3:checked~.slides .slider-controls-slide-3::before {
     content: "";
     width: 18px;
     height: 18px;
     background: #fff;
     position: absolute;
     top: 8px;
     left: 8px;
     z-index: 1;
     border-radius: 50%;
 }

 #slide-1:checked~.slides .slider-controls-slide-1::after, #slide-2:checked~.slides .slider-controls-slide-2::after, #slide-3:checked~.slides .slider-controls-slide-3::after {
     content: "";
     position: absolute;
     left: 50%;
     top: 50%;
     z-index: 2;
     width: 4px;
     height: 4px;
     margin: -4px;
     background-color: inherit;
     border: 2px solid #c1c1c1;
     border-radius: 50%;
 }

.slider-controls label {
     position: relative;
     display: inline-block;
     width: 18px;
     height: 18px;
     padding: 8px;
     border-radius: 50%;
     cursor: pointer;
 }

#slide-1:checked~.slides .slide:nth-child(1), #slide-2:checked~.slides .slide:nth-child(2), #slide-3:checked~.slides .slide:nth-child(3) {
     display: block;
}

#slide-1:checked~.slides .slide:nth-child(1) {
     background-image: url(../img/nerds-index-slide1.png);
     background-repeat: no-repeat;
     background-position: 93% -27px;
}

#slide-2:checked~.slides .slide:nth-child(2) {
     background-image: url(../img/nerds-index-slide2.png);
     background-repeat: no-repeat;
     background-position: 93% -27px;
}

#slide-3:checked~.slides .slide:nth-child(3){
     background-image: url(../img/nerds-index-slide3.png);
     background-repeat: no-repeat;
     background-position: 93% -16px;
}

.slogan {
     font-size: 55px;
     font-weight: 500;
     line-height: 55px;
}

/* Buttom */

.buttom {
     color: var(--basic-white);
     text-transform: uppercase;
     font-weight: 500;
     background: var(--basic-red);
     border-radius: 3px;
     padding: 16px 54px;
     display: inline-flex;
}

.buttom:hover,
.buttom-slider-red:hover,
.feedback-buttom:hover, 
.buttom-feedback:hover {
     background-color: var(--basic-soft-red);
}

.buttom:focus,
.buttom-slider-red:focus,
.feedback-buttom:focus, 
.buttom-feedback:focus {
     background-color: var(--basic-dark-red);
     color: var(--basic-light-red);
     outline: none;
}
.buttom-slider-red{
     color: var(--basic-white);
     text-transform: uppercase;
     font-weight:500;
     background: var(--basic-red);
     border-radius: 3px;
     padding: 16px 40px;
     display: inline-flex;
}

.buttom-slider-green{
     color: var(--basic-white);
     text-transform: uppercase;
     font-weight: 500;
     background: var(--basic-green);
     border-radius: 3px;
     padding: 16px 40px;
     display: inline-flex;
}

.buttom-slider-green:hover {
     background-color: var(--basic-soft-green);
}

.buttom-slider-green:focus {
     background-color: var(--basic-dark-green);
     color: var(--basic-light-green);
}

.buttom-slider-yellow{
     color: var(--basic-white);
     text-transform: uppercase;
     font-weight: 500;
     background: var(--basic-yellow);
     border-radius: 3px;
     padding: 16px 40px;
     display: inline-flex;
}

.buttom-slider-yellow:hover {
     background-color: var(--basic-soft-yellow);
}

.buttom-slider-yellow:focus {
     background-color: var(--basic-dark-yellow);
     color: var(--basic-light-yellow);
}

.feedback-buttom {
     color: var(--basic-white);
     text-transform: uppercase;
     font-weight: 500;
     background: var(--basic-red);
     border-radius: 3px;
     padding: 16px 83px;
     display: inline-flex;
     border-width: 0px;
}

/* Сategories */

.categories-slogan{
     font-weight: bold;
     font-size: 24px;
     text-transform: uppercase;
     line-height: 30px;
}

.categories-slogan-item {
     font-size: 16px;
     line-height: 24px;
     color: var(--basic-dark-gray);
}

.categories {
     margin-bottom: 39px;
     border-bottom: 2px solid #eee

}

.categories-list {
     display: grid;
     grid-template-columns: 300px 300px 300px;
     gap: 100px;
     margin: 0;
     padding: 80px 0px 80px 0px;
}

/* Description */

.description {
     text-align: center;
     padding: 0;
     display: grid;
     grid-template-columns: 660px 500px;
     padding-bottom: 74px;
     border-bottom: 2px solid #eee
}

.description-statistics-item {
     font-size: 16px;
     line-height: 24px;
     font-weight: bold;
     text-transform: uppercase;
}

.description-general {
     text-align: initial;
}

.description-statistics {
     text-align: center;
}

.description-list {
     padding: 0px;
}

.description-header {
     font-size: 45px;
     font-weight: 500;
     line-height: 45px;
}

.description-list-marker{
     color: var(--basic-red);
     font-size: 25px;
     margin: 0 7px 0 0;
}

.table-statistics {
     display: flex;
     flex-direction: column-reverse;
}

table {
     margin: 0 auto;
}

.table-statistics-header {
     color: var(--basic-dark-gray);
     line-height: 18px;
     padding: 10px;
     text-align: left;
     font-size: 16px;
     font-weight: normal;
}

.table-statistics-numbers{
     color: var(--basic-black);
     font-size: 54px;
     font-weight: bold;
     line-height: 64px;
}

.table-statistics-numbers-percent {
     font-weight: bold;
     font-size: 26px;
     line-height: 40px;
     vertical-align: top;
}

/* Partners */

.partners-item {
     border-bottom: 2px solid #EEEEEE;
}

.list-of-partners{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     margin: 0;
     padding: 0;
     justify-items: center;
     align-items: center;
     min-height: 180px;
     position: relative;
}

.partner-link {
     display: block;
     opacity: .2;
}

.partner-link:hover{
     opacity: 1;
}

.logo-partners:focus {
     opacity: 0.1;
}

.partner {
     position: relative;
}

.partner:nth-child(-n+3)::after {
     content: "";
     width: 2px;
     height: 52px;
     top: calc(50% - 24px);
     background-color: #eee;
     position: absolute;
     left: 242px;
}

/*map */

.map {
     position: relative;
     width: 100%;
     height: 416px;
     margin-top: 80px;
}

.feedback-adress {
     position: absolute;
     width: 297px;
     padding: 32px 10px 46px;
     background-color: #fff;
}

.feedback-adress {
     top: 54px;
     left: 140px;
     text-align: center;
}

/* Footer */

.footer {
     display: grid;
     grid-template-columns: 270px 560px;
     gap: 130px;
     margin: 0;
     padding-top: 63px;
     padding-bottom: 49px;
}

.footer-contacts {
     display: flex;
     text-align: center;
     padding: 0;
     margin: 0;
}


.footer-feedback-header {
     font-size: 18px;
     line-height: 30px;
     font-weight: bold;
}

.footer-feedback-description {
     line-height: 18px;
     color: var(--basic-light-gray);
}

.buttom-feedback {
     color: var(--basic-white);
     text-transform: uppercase;
     font-weight: 500;
     background: var(--basic-red);
     border-radius: 3px;
     padding: 16px 44px;
     display: inline-flex;
}

.footer-header-stock {
     font-size: 36px;
     line-height: 36px;
     font-weight: bold;
     margin: 0px;
}

.footer-stock {
     line-height: 22px;
     color: var(--basic-gray);
}

.footer-contacts-list {
     margin-right: 9px;
     background-color: var(--basic-light-white);
     width: 80px;
     height: 80px;
     border-radius: 50%;
     display: flex;
     justify-content: center;
}

.footer-contacts-list-icon {
     padding: 30px;
}

.footer-contacts-list:hover{
     background-color: var(--basic-red);
}

.footer-contacts-list:focus {
     background-color: var(--basic-dark-red);
}

/* Catalog */

.catalog-filter {
     width: 260px;
}

.page-catalog{
     display: grid;
     grid-template-columns: 260px 759px;
     gap: 140px;
     align-content: start;
     margin-top: 55px;
}

.catalog-list {
     display: grid;
     grid-template-columns: 360px 360px;
     gap: 41px;
     padding: 0;
     margin: 0;
     list-style: none;
     margin-top: 48px;
}

.catalog-item {
     width: 220px;
     min-height: 285px;

     min-height: 285px;

     position: relative;
     width: 360px;
}

.catalog-item path:hover {
     fill: #4d4d4d;
}

.catalog-header {
     font-size: 55px;
     line-height: 55px;
     font-weight: 500;
     background-color: var(--basic-dark-white);
     padding: 87px 0px 108px 0px;
     text-align: center;
     margin: 0;
}

.sort {
     display: flex;
     justify-content: space-between;
}


.filter-sort {
     display: flex;
     padding: 0;
     margin: 0;
}

.filter-sort-list{
     font-size: 14px;
     line-height: 18px;
     color: var(--basic-black);
     opacity: 0.3;
     text-transform: uppercase;
}

.filter-sort-item {
     margin-right: 25px;
}

.filter-sort-list:hover{
     color: var(--basic-black);
     opacity: 0.6;
}

.filter-sort-list:focus {
     color: var(--basic-black);
}

.filter-sort-item-order {
     display: flex;
     align-items: center;
}

.filter-sort-item-down {
     width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
     border-top: 10px solid var(--basic-black);
     margin-right: 18px;
}

.filter-sort-item-down:hover {
     opacity: 0.6;
}

.filter-sort-item-down:focus{
     opacity: 1;
}

.filter-sort-item-up {
     width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
     border-bottom: 10px solid var(--basic-black);
     opacity: 0.2;
}

.filter-sort-item-up:hover {
     opacity: 0.6;
}

.filter-sort-item-up:focus{
     opacity: 1;
}

/*filter*/

.filter-header{
     font-weight: bold;
     font-size: 18px;
     line-height: 30px;
     text-transform: uppercase;
}

.fieldset{
     padding: 0;
     margin: 0;
}

.fieldset:not(:first-child) {
     margin-top: 48px;
}

.filter-item-grid label,
.filter-item-features label {
     position: relative;
     display: block;
     cursor: pointer;
     user-select: none;
}

.filter-item {
     padding: 0px;
     margin: 0px;
}
.filter-item-features label {
     padding-left: 36px;
}

.filter-item-grid label {
     padding-left: 36px;
}

.filter-item-grid {
     margin-top: 11px;
}

.filter-item-features {
     margin-top: 11px;
}

.filter-input-checkbox + label::before {
     content: "";
     width: 20px;
     height: 20px;
     position: absolute;
     left: 0;
     top: 0;
     border: 2px solid #a6a6a6;
     border-radius: 3px;
}

.filter-input-checkbox:checked + label::after {
     content: "";
     width: 25px;
     height: 22px;
     position: absolute;
     left: 1px;
     top: 1px;
     background-image: url(../img/checkbox-on.svg);
     background-repeat: no-repeat;
}

.filter-input-radio + label::before {
     content: "";
     width: 17px;
     height: 17px;
     position: absolute;
     left: 1px;
     top: 0;
     border: 4px solid #a6a6a6;
     border-radius: 50%;
}

.filter-input-radio:checked + label::after {
     content: "";
     width: 9px;
     height: 9px;
     position: absolute;
     left: 8px;
     top: 7px;
     background-color: #a6a6a6;
     border: 1px solid #a6a6a6;
     border-radius: 50%;
}

.filter-buttom{
     color: var(--basic-black);
     text-transform: uppercase;
     font-weight: 500;
     line-height: 18px;
     background: var(--basic-dark-white);
     border-radius: 3px;
     padding: 16px 88px;
     border-width: 0px;
     margin-top: 50px;
}

.filter-buttom:hover {
     background-color: var(--basic-mono-gray);
}

.filter-buttom:focus {
     background-color: var(--basic-abdel-gray);
     opacity: 0.3;
}
 
.range-filter {
     margin-top: 48px;
}

.filter-item-grid,
.filter-item-features {
     font-size: 16px;
     line-height: 19px;
     color: var(--basic-dark-gray);
}


.range-controls {
     position: relative;
     height: 41px;
     margin-bottom: 15px;
     padding-top: 39px;
     padding-right: 20px;
     padding-left: 20px;
     background-color: #f1f1f1;
     border-radius: 5px;
}
   
.range-controls .scale {
     height: 2px;
     background: #d7dcde;
}
   
.range-controls .bar {
     width: 70%;
     height: 2px;
     background: #00ca74;
}
   
.range-controls .toggle {
     position: absolute;
     top: 31px;
     left: 0;
     width: 4px;
     height: 4px;
     padding: 0;
     border: 8px solid #ffffff;
     background-color: #ababab;
     border-radius: 50%;
     box-shadow: 0 2px 1px 0 #cfcfcf;
     cursor: pointer;
}
   
.range-controls .toggle-min {
     left: 18px;
}
   
.range-controls .toggle-max {
     left: 160px;
}

   
.price-controls {
     display: flex;
     justify-content: space-between;
     margin-bottom: 11px;
}
   
.price-controls label {
     text-transform: uppercase;
     font-family: "Roboto", "Arial", sans-serif;
     font-size: 16px;
}
   
.price-controls input {
     width: 60px;
     padding: 10px;
     margin-left: 10px;
     text-align: center;
     color: #283136;
     border: none;
     border-radius: 5px;
     background: #f1f1f1;
     font-family: inherit;
     font-size: inherit;
}

.card-header {
     font-size: 18px;
     line-height: 30px;
     font-weight: bold;
     text-align: center;
     text-transform: uppercase;
     color: var(--basic-black);
}

.card-header:hover {
     color: var(--basic-red);
}

.card-header:focus {
     color: var(--basic-black);
     opacity: 0.3;
}

.card-description {
     position: absolute;
     width: 360px;
     height: 231px;
     color: var(--basic-light-gray);
     background-color: var(--basic-dark-white);
     text-align: center;
     top: 397px;
}

.catalog-item:not(:first-child) .card-description {
     display: none;
}

.catalog-item:not(:first-child):hover path{
     fill: #e9e9e9;
}

.catalog-item:not(:first-child):hover .card-description {
     display: block;
}

.catalog-item-img {
     margin-top: -6px;
}

.card-description-details {
     font-size: 16px;
     line-height: 18px;
     color: var(--basic-light-gray);
     text-align: center;
     margin-bottom: 45px;
}

.card-price {
     color: var(--basic-white);
     text-transform: uppercase;
     font-weight: 500;
     background: var(--basic-red);
     border-radius: 3px;
     padding: 16px 54px;
     font-size: 16px;
     line-height: 18px;
}

.card-price:hover {
     background-color: var(--basic-soft-red);
}

.card-price:focus {
     background-color: var(--basic-dark-red);
}

fieldset {
     border: 0 none;
}

.list-current {
     background: var(--basic-white);
     border: 3px solid var(--basic-alto-gray);
     box-sizing: border-box;
     border-radius: 3px;
     padding: 14px 18px;
     font-weight: 500;
     font-size: 16px;
     line-height: 18px;
     color: var(--basic-black);
}
.list-other{
     border-radius: 3px;
     padding: 16px 20px;
     font-weight: 500;
     font-size: 16px;
     line-height: 18px;
     background-color: var(--basic-dark-white);
     color: var(--basic-black);
}
.list-next {
     border-radius: 3px;
     padding: 16px 77px;
     font-weight: 500;
     font-size: 16px;
     line-height: 18px;
     background-color: var(--basic-dark-white);
     color: var(--basic-black);
}

.page-list {
     display: flex;
     margin-top: 55px;
}

.list-current, .list-other {
     margin-right: 11px;
}

.list-other:hover, .list-next:hover{
     background-color: var(--basic-mono-gray);
}

.list-other:focus, .list-next:focus{
     background-color: var(--basic-alto-gray);
     color: var(--basic-black);
     opacity: 0.3;
}

/*Modal*/

.container-form {
     width: 761px;
     height: 353px;
}

.form-item{
     display: flex;
     justify-content: space-between;
}

.feedback-header {
     font-size: 46px;
     line-height: 53px;
     font-weight: bold;
}

.feedback-ladel {
     font-weight: bold;
}

.feedback-input-name {
     width: 360px;
     height: 50px;
     border: 2px solid var(--basic-pule-blue);
     box-sizing: border-box;
     border-radius: 3px;
     font-size: 16px;
}

.feedback-input-text {
     height: 118px;
     width: 760px;
}

.feedback-input-name:hover {
     border: 2px solid var(--basic-silver)
}

.feedback-input-name:invalid {
     border:2px solid var(--basic-soft-red);
     color: var(--basic-soft-red);
}

.modal {
     display: none;
     position: fixed;
     background-color: #fff;
     z-index: 5;
     -webkit-box-shadow: 0 30px 50px rgba(0,0,0,.7);
     box-shadow: 0 30px 50px rgba(0,0,0,.7);
}

.modal-feedback {
     display: none;
     top: -20px;
     margin-left: 282px;
     width: 760px;
     z-index: 5;
     padding: 65px 100px;
}

/*.modal-feedback {
     display: block;
}*/

.modal-close {
     position: absolute;
     top: 78px;
     right: 90px;
     width: 22px;
     font-size: 0;
     border: 0;
     cursor: pointer;
}


.modal-close::before {
     transform: rotate(45deg);
}

.modal-close::after {
     transform: rotate(-45deg)
}

.modal-close::after, .modal-close::before {
     content: "";
     position: absolute;
     width: 19px;
     height: 3px;
     top: 10px;
     left: 2px;
     background-color: var(--basic-pink);
     opacity: 0.3;
}
